<table class="table">
  <thead class="thead-dark">
  <%= link_to 'Voltar', root_path %>
  <br>
  <% if @records.size == 0 %>
    <p>Nenhum político cadastrado.</p>

    <%= link_to 'Cadastrar politicos', csv_index_path %>
  <% else %>
    <h3>Politicos cadastrados(RJ):</h3>

    <%== pagy_bootstrap_nav(@pagy) %>
    <tr>
      <th>Foto </th>
      <th>Nome </th>
      <th>Partido </th>
      <th>valor </th>
    </tr>
    <% @records.each do |politician|%>
      <tr>
        <td><%= politician_photo(politician) %></td>
        <td><%= link_to "#{politician.nome}", politico_path(politician) %></td>
        <td><%= politician.sgpartido %></td>
        <td><%= number_to_currency(@presenter.expenses[politician.id], :unit => "R$") %></td>
      </tr>
    <% end %>
  <% end %>
</table>
