<% require 'pry' %>
<table border="1">
  <%= link_to 'Back', root_path %>
  <br>
  Politicos cadastrados(RJ):
  <% @politicos.each do |politico|%>
    <tr>
      <th>Foto: </th>
      <th>Nome: </th>
      <th>Partido: </th>
      <th>valor: </th>
    </tr>
    <tr>
      <td><%= image_tag("http://www.camara.leg.br/internet/deputado/bandep/#{politico.id_cadastro}.jpg",
                        style: 'height:auto; width:114px;') %></td>
      <td><%= link_to "#{politico.nome}", politico_path(politico) %></td>
      <td><%= politico.sgpartido %></td>
      <td><%= number_to_currency(politico.despesas.sum(:valor_liquido), :unit => "R$") %></td>
    </tr>
  <% end %>
</table>
