<table>
  <%= link_to 'Politicos', politicos_path %>
  <br>

  <h1><%= politician_photo(@presenter.politician) %> <%= @presenter.politician.nome %> (<%= @presenter.politician.sgpartido %>)</h1>
</table>
<br>
<table border="1">
  <tr>
    <th>Fornecedor: </th>
    <th>Data: </th>
    <th>Valor: </th>
    <th>URL: </th>
  </tr>
  <% @presenter.ordered_expenses.each do |despesa| %>
    <tr>
      <td><%= despesa.fornecedor %></td>
      <td><%= despesa.data_emissao %></td>
      <td style="text-align:right;"><%= number_to_currency(despesa.valor_liquido, :unit => "R$") %></td>
      <td><%= link_to "Recibo", despesa.url_documento, target: :_blank %></td>
    </tr>
  <% end %>
</table>
