<!DOCTYPE html>
<html>
<head>
  <title>DesafioBackend</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="container">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="navbar-brand" href="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/politicos">Politicos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/csv">Carregar CSV</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<br>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%= bootstrap_flash %>
      <%= yield %>
    </div>
  </div>
</div>
</body>
</html>
